<h1>Sign up below</h1>
<style>
    h5 {
        color: red;
        background-color: lightgrey;
    }
</style>
{% for message in messages %}
    <h5>{{ message }}</h5>
{% endfor %}

<form action="register" method="post">
    {% csrf_token %}

    <p>Username:</p>
    <input type="text" name="username" id = "username">
    <p>Email:</p>
    <input type="email" name="email" id="email">
    <p>Password:</p>
    <input type="password" name="password" id="password">
    <p>Confirm Password:</p>
    <input type="password" name="password2" id="password2">
    <br>
    <input type="submit" name="submit" id="sudmit">

</form>